p {
    margin: 0px;
    padding: 22.05px;
    font-weight: bold;
    font-size: larger;
    font-family: monospace;
    font-size: 130%;
    z-index: 1;
}

p:hover{
    text-shadow: 1px 1px 0px #000000;
    box-shadow: 1px 10px 3px black;
    z-index: 2;
}

body {
    margin: 0px;
    background-color: black;
}

table {
    margin: 10px;
    padding: 100px;
}